<%= simple_form_for(@post, :html => {:multipart => true, :class => "form-horizontal"},
                           :defaults => {
                              :wrapper_html => {:class => "control-group"},
                              :label_html => {:class => "control-lable"}
                           }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <div><%= flash[:error] %></div>
  <% end %>

  <%= f.input :title,
              :label => "Title:"%>
  <%= f.input :category_id,
              :label => "Category:",
              :collection => category_options %>
  <%= f.input :avatar,
              :label => "Image:",
              :as => :file %>
  <% if @post.avatar_url %>
    <div class="controls">
      <%= image_tag @post.avatar_url(:thumb).to_s %>
    </div>
  <% end %>
  <%= f.input :content, 
              :label => "Content:" %>
  <%= f.submit :class =>"controls btn" %>
<% end %>
