<%= content_tag_for :tr, list do |post| %>
      <td class="span2"><%= post.title %></td>
      <td class="span10"><%= post.content %></td>
      <td><%= link_to "Preview", post, "remote" => true,
                                       "class" => "preview",
                                       "data-type" => :json %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, "method" => :delete,
                                       "data" => {confirm: 'Are you sure?'},
                                       "remote" => true,
                                       "class" => "del_post",
                                       "data-type" => :json %></td>
    
  <% end %>